* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    /* font-family: 'Noto Serif', serif; */
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
}

body {
    /* background: rgb(53%, 46%, 94%); */
    background-color: #FFFBAC;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 500px;
    width: 360px;
    /* background-color: rgb(27%, 63%, 88%); */
    background-color: #D7E9B9;
    /* box-shadow: 10px 5px 5px rgb(88, 62, 215); */
    box-shadow: 10px 5px 5px;
    text-align: center;
    overflow-y: auto;
    border-radius: 5px;
    padding: 10px;
}

header {
    position: relative;
    width: 75%;
    z-index: 1;
}

input {
    width: 80%;
    height: 50px;
    padding: 0 10px;
    margin: 15px 0;
    border-radius: 5px;
    outline: none;
    border: none;
}

#btn {
    width: 18%;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    position: relative;
    top: 0.4%;
    cursor: pointer;
}
.fa-circle-plus {
    font-size: 1.2rem;
}

ul li {
    list-style-type: none;
    position: relative;
    margin: 10px 0;
    padding: 10px;
    position: relative;
    background-color: #eee;
    border-radius: 5px;
}

ul .fa-check, .fa-trash {
    position: absolute;
    cursor: pointer;
}

ul .fa-check {
    left: 40px;
    color: green;
}

ul .fa-trash {
    right: 15px;
    color: red;
}

ul .checked {
    background: lightgreen;
    text-decoration: line-through;
    transition: .2s;
    border-radius: 5px;
}
